{
	"cobra-stealth" =
	{
        	aft_eject_position = "0.0 15.5 -33.0";
		ai_type = "route1traderAI.plist";
		auto_ai = yes;
		cargo_type = "CARGO_NOT_CARGO";
		energy_recharge_rate = 5;
		exhaust = ("-19 0.0 -32.5 15.0 7.5 1.0", "19 0.0 -32.5 15.0 7.5 1.0");
		forward_weapon_type = "WEAPON_BEAM_LASER";
		fuel = 70;
		has_ecm = 0.95;
		has_escape_pod = 0.95;
		has_scoop = 0.95;
		likely_cargo = 3;
		max_cargo = 15;
		max_energy = 300;
		max_flight_pitch = 2;
		max_flight_roll = 4.2;
		max_flight_speed = 650;
		max_missiles = 6;
		missile_launch_position = "0.0 -4.5 16.5";
		missiles = 4;
		model = "cobra-stealth.dat";
		materials =
		{
			"cobra-stealth.png" = { diffuse_map = "cobra-stealth.png"; };
		};
		smooth = yes;
		name = "Cobra Stealth";
		roles = "trader scavenger sunskim-trader";
		scoop_position = "0.0 -10.0 -10.0";
		thrust = 50;
		weapon_facings = 15;
		weapon_position_aft = "0.0 0.0 -32.5";
		weapon_position_forward = "0.0 0.0 27.5";
		weapon_position_port = "-40.0 0.0 -6.0";
		weapon_position_starboard = "40.0 0.0 -6.0";
	};
	"cobra-stealth-pirate" =
	{
		like_ship = "cobra-stealth";
		ai_type = "pirateAI.plist";
		bounty = 500;
		forward_weapon_type = "WEAPON__LASER";
		has_scoop = yes;
		has_shield_booster = 0.75;
		roles = "pirate hunter";
	};
	"cobra-stealth-player" =
	{
		like_ship = "cobra-stealth";
		roles = "player";
		view_position_aft = "0.0 7.5 -32.5";
		view_position_forward = "0.0 7.25 16.25";
		view_position_port = "-30.0 4.75 0.0";
		view_position_starboard = "30.0 4.75 0.0";
		custom_views =
		(
			{
				view_description = "Rear View";
				view_orientation = "1.0 0.0 0.0 0.0";
				view_position = "0.0 30.0 -200.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Rear Right View";
				view_orientation = "0.9239 0.0 0.3827 0.0";
				view_position = "141.42 30.0 -141.42";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Right View";
				view_orientation = "0.7071 0.0 0.7071 0.0";
				view_position = "200.0 30.0 0.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Front Right View";
				view_orientation = "0.3827 0.0 0.9239 0.0";
				view_position = "141.42 30.0 141.42";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Front View";
				view_orientation = "0.0 0.0 1.0 0.0";
				view_position = "0.0 30.0 200.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Front Left View";
				view_orientation = "0.3827 0.0 -0.9239 0.0";
				view_position = "-141.42 30.0 141.42";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Left View";
				view_orientation = "0.7071 0.0 -0.7071 0.0";
				view_position = "-200.0 30.0 0.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Rear Left View";
				view_orientation = "0.9239 0.0 -0.3827 0.0";
				view_position = "-141.42 30.0 -141.42";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Top View";
				view_orientation = "-0.7071 0.7071 0.0 0.0";
				view_position = "0.0 200.0 -15.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Bottom View";
				view_orientation = "0.0 0.0 0.7071 0.7071";
				view_position = "0.0 -200.0 -15.0";
				weapon_facing = "FORWARD";
			}
		);
	};

}